{
    admin off
    persist_config off
    auto_https off

    log {
        format json
    }

    servers {
        trusted_proxies static private_ranges 100.0.0.0/8
    }
}

:{$PORT:3000} {
    log
    
    # Proxy requests to backend container
    handle /graphql* {
        reverse_proxy backend:8000
    }
    handle /admin* {
        reverse_proxy backend:8000
    }
    handle /static* {
        reverse_proxy backend:8000
    }

    # Frontend
    rewrite /health /*
    root * /app/dist
    encode gzip
    file_server
    try_files {path} /index.html
}
